---

- name: Check or/and install zabbix-agent
  hosts: localhost
  connection: local
  become: yes
  tasks:

  - name: Install the latest version of zabbix-agent
    ansible.builtin.dnf:
      name: zabbix-agent
      state: latest

  - name: Editting the 'Server' and 'ServerActive' in configuration file
    ansible.builtin.lineinfile:
      path: /etc/zabbix/zabbix_agentd.conf
      regexp: '^# {{item}}='
      line: '{{item}}=localhost'
    loop:
      - Server
      - ServerActive

  - name: Make sure a service nginx is running
    ansible.builtin.systemd_service:
      name: nginx
      state: started
      enabled: true

  - name: Make sure a service zabbix-agent is running
    ansible.builtin.systemd_service:
      name: zabbix-agent
      state: started
      enabled: true
